source "Kconfig.zephyr"

menu "Application Options"

module = APP
module-str = App
source "subsys/logging/Kconfig.template.log_config"

config SDCARD_IMAGE
	bool "Generate SD card image"
	help
	  Generate an sdcard image with ext2 filesystem using contents of romfs

if SDCARD_IMAGE

config SDCARD_IMAGE_SIZE
	int "Image size"
	default 8
	help
	  Defines generated sdcard image size (in MB)

endif # SDCARD_IMAGE

if BOARD_STM32H747I_DISCO

config GRVL_HEAP_SIZE
	int "Grvl dedicated heap size"
	default 8388608

config GRVL_USE_STM32_DMA
	bool
	default y
	select USE_STM32_HAL_DMA2D
	select USE_STM32_LL_DMA2D

endif # BOARD_STM32H747I_DISCO

endmenu # Application Options

